@model AllforCamping.Models.categorias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: burlywood ">
    <div class="container-fluid h1 text-center">
        <h1>Eliminar categoria</h1>
    </div>
    <div class="container-fluid text-danger">

        <h3>¿Estas seguro que deseas eliminar esta categoria?</h3>
    </div>

    <div class="container-fluid">


        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.subcategorias.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subcategorias.nombre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color container-fluid">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <button type="button" class="btn btn-default">@Html.ActionLink("Regresar", "Index")</button>
            </div>

            <br />
            <br />
            <br />
            <br />
        }
    </div>
</div>