@model AllforCamping.Models.categorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: burlywood ">
    <div class="container-fluid h1 text-center">
        <h1>Detalles de la categoria</h1>
    </div>
    <div class="container-fluid">

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.subcategorias.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subcategorias.nombre)
            </dd>

        </dl>

    </div>
    <div class="container-fluid">
        <button type="button" class="btn btn-warning">@Html.ActionLink("Editar categoria", "Edit", new { id = Model.Id })</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Regresar", "Index")</button>

    </div>
    <br />
    <br />
    <br />
    <br />
</div>
