@model AllforCamping.Models.empleados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
