@model alforcampingv2.Models.tarjetas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tarjetas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
